* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body {
  scroll-behavior: smooth;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.popup {
  position: fixed;
  z-index: 12;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.popup2 {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.popup-inner {
  background-color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  width: 90%; /* Adjust the width as needed for responsiveness */
  max-width: 400px; /* Set a maximum width if desired */
}

.popup-inner h2 {
  margin-top: 0;
  text-align: center;
}

.popup-inner label {
  display: block;
  margin-bottom: 10px;
}

.popup-inner input {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.popup-inner button[type="submit"],
.popup-inner button[type="button"] {
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 5px;
  width: 100%; /* Adjust the width for responsiveness */
}

.popup-inner button[type="submit"] {
  margin-top: 20px;
  background-color: blue;
}

.popup-inner button[type="button"] {
  margin-top: 20px;
  background-color: #f44336;
}

.popup-inner button[type="button"]:hover {
  background-color: #da190b;
}

.popup-inner button[type="submit"]:disabled {
  background-color: #bfbfbf;
  color: #ffffff;
  cursor: not-allowed;
}

.popup-inner button[type="button"]:disabled {
  background-color: #bfbfbf;
  color: #ffffff;
  cursor: not-allowed;
}
.home {
  background: url(../public/images/roasted-pork-steak-dark-wooden-s.jpg)
    no-repeat center;
  height: 100vh;
  color: #fff;
  /* min-height: 500px; */
  background-size: cover;
  background-attachment: fixed;
  font-family: "Ubuntu", sans-serif;
}
@media only screen and (max-width: 600px) {
  .home {
    height: 50vh;
  }
}
.cover_1 {
  background: url(../public/images/roasted-pork-steak-dark-wooden-s.jpg)
    no-repeat center;
  height: 40vh;
  color: #fff;
  /* min-height: 500px; */
  background-size: cover;
  background-attachment: fixed;
  font-family: "Ubuntu", sans-serif;
}

/* Add your CSS class for available tables */
.table-available {
  background-color: rgb(
    64,
    111,
    64
  ); /* Change the background color for available tables */
  color: white; /* Change the text color for available tables */
  /* Add any other styles you want for available tables */
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.table-available:hover {
  background-color: rgb(63, 179, 63); /* Change the background color on hover */
  /* Apply a 2px blur effect on hover */
}
.table-available.clicked {
  background-color: rgb(19, 85, 19); /* Change the background color when clicked */
}
/* Define styles for booked tables */
/* You can override these styles as needed for booked tables */
.table-booked {
  background-color: rgb(117, 28, 28); /* Change the background color for booked tables */
  color: white; /* Change the text color for booked tables */
  /* Add any other styles you want for booked tables */
}

.table-selected {
  background-color: rgb(0, 66, 45); /* Change the background color for available tables */
  color: white; /* Change the text color for available tables */
  /* Add any other styles you want for available tables */
  cursor: pointer;
}



/* css for testimonials */
